<div class="b-tabs">
    <div class="b-tabs__tab-list">
        <span class="b-tabs__tab" ng-repeat="tab in tabs.tabTextArr" ng-click="tabs.callback(tabs.tabCityArr[$index])">{{testValue}} - {{tab}}</span>
    </div>
    <div class="b-tabs__content">
        <div>{{testValue}}</div>
        <ng-transclude></ng-transclude>
    </div>
</div>