.b-tabs__tab {
    padding: 10px 15px;
    border: 1px solid #999;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.b-tabs__content {
    border: 1px solid #999;
    min-height: 150px;
}
body {
    padding: 50px;
}