.SBox-wrap {
  position: relative;
    max-width: 300px;
    margin: 0 auto;
}
.SBox-selected {
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #dcdcdc;
    border-radius: 2px;
    color: deepskyblue;
    cursor: pointer;
    line-height: 30px;
    padding: 0 19px 0 9px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background: #fff;
}
.SBox-selected:before {
display: block;
    content: '';
    position: absolute;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff 40%, #fff 100%);
  width: 40px;
  top: 0;
  right: 0;
}
.SBox-selected:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  width: 10px;
  height: 6px;
  right: 10px;
  border-top: 6px solid deepskyblue;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.SBox-ul {
  display: none;
  z-index: 3;
  border-radius: 0 0 2px 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 36px;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
}

.SBox-li {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: deepskyblue;
  padding: 0 5px 0 9px;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: color .2s ease-out;
}
.SBox-li:hover {
  color: #da3635;
}