<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no">
    <title>AJS</title>
    <link rel="stylesheet" href="css/common.css">
</head>

<body ng-controller="AppCtrl as vm" ng-init="testValue = 'ROOT TEST VALUE'">
    <div>{{testValue}}</div>
    <tabs tabs-obj="vm.tabsObj">
        <div>{{testValue}}</div>
        <div>{{vm.local.currentTabContent.name}}</div>
        <div>{{vm.local.currentTabContent.weather[0].description}}</div>
    </tabs>

    <script src="js/vendor/angular/angular.1.4.8.min.js"></script>
    <script src="js/shared/directives/tabs/tabs.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app.ctrl.js"></script>
    <script src="js/app.factory.js"></script>
    <script src="js/app.service.js"></script>
</body>

</html>