<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no">
    <title>AJS</title>
    <link rel="stylesheet" href="css/common.css">
</head>

<body ng-init="testValue = 'some value'">

    <input type="text" ng-model="testValue"/>
    <div class="ctrl" ng-controller="Parent1Ctrl as PC1">
        <div>Parent1Ctrl</div>
        <input type="text" ng-model="testValue"/>
        <span>Output: {{testValue}}</span>

        <div class="ctrl" ng-controller="Child1Ctrl as CC1">
            <div>Child1Ctrl</div>
            <input type="text" ng-model="testValue"/>
            <span>Output: {{testValue}}</span>
        </div>
        <div class="ctrl" ng-controller="Child2Ctrl as CC2">
            <div>Child2Ctrl</div>
            <input type="text" ng-model="testValue"/>
            <span>Output: {{testValue}}</span>
        </div>
    </div>
    <div class="ctrl" ng-controller="Parent2Ctrl as PC2">
        <div>Parent2Ctrl</div>
        <input type="text" ng-model="testValue"/>
        <span>Output: {{testValue}}</span>
    </div>

    <div ng-init="a.testValue2 = 'second value">

        <input type="text" ng-model="a.testValue2"/>
        <div class="ctrl" ng-controller="Parent1Ctrl as PC1">
            <div>Parent1Ctrl</div>
            <input type="text" ng-model="a.testValue2"/>
            <span>Output: {{a.testValue2}}</span>

            <div class="ctrl" ng-controller="Child1Ctrl as CC1">
                <div>Child1Ctrl</div>
                <input type="text" ng-model="a.testValue2"/>
                <span>Output: {{a.testValue2}}</span>
            </div>
            <div class="ctrl" ng-controller="Child2Ctrl as CC2">
                <div>Child2Ctrl</div>
                <input type="text" ng-model="a.testValue2"/>
                <span>Output: {{a.testValue2}}</span>
            </div>
        </div>
        <div class="ctrl" ng-controller="Parent2Ctrl as PC2">
            <div>Parent2Ctrl</div>
            <input type="text" ng-model="a.testValue2"/>
            <span>Output: {{a.testValue2}}</span>
        </div>
    </div>

    <script src="js/vendor/angular/angular.1.4.8.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/parent1.ctrl.js"></script>
    <script src="js/parent2.ctrl.js"></script>
    <script src="js/child1.ctrl.js"></script>
    <script src="js/child2.ctrl.js"></script>
</body>

</html>