<div class="b-tabs">
    <div class="b-tabs__tab-list">
        <span class="b-tabs__tab" ng-repeat="tab in tabs.tabTextArr" ng-click="tabs.callback($index)">{{tab}}</span>
    </div>
    <div class="b-tabs__content">
        <ng-transclude></ng-transclude>
    </div>
</div>