<div style="border: 1px solid #000;margin: 20px;">
    <div>view 0</div>
    <div>{{date}}</div>
</div>
<div ui-view></div>
<a ui-sref="home.viewA">home.viewA</a>
<a ui-sref="home.viewB">home.viewB</a>